/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

:root {
    @include mat.icon-button-overrides((icon-color: var(--mat-sys-primary)));
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


button[color='accent'] {
    @include mat.fab-overrides((container-color: #fff3d7));
}